/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 00 - INDEX */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.bannerProducts {
	margin-top: -215px;
}

.somethingGreat {
	position: relative;
	text-align: center;
	overflow: hidden;
	.as {
		display: inline-block;
	}
	.imgWrapper {
		position: relative;
		display: table;
		margin: 0 auto;
		overflow: hidden;
	}
}

/*----------------------------------------------------------------*/
/* HOVER
/*----------------------------------------------------------------*/

@media (min-width: 992px) {

}

/*----------------------------------------------------------------*/
/* Media Queries
/*----------------------------------------------------------------*/

@media (max-width: 1500px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    .bannerProducts {
    	margin-top: auto;
    }
}

@media (max-width: 767px) {
    
}