/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 00 - SERVICES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.servicesDetail {
    .as {
        text-align: center;
        margin-bottom: 40px;
    }
    ul {
        column-count: 2;
        li {
            margin-bottom: 7px;
            padding-right: 15px;
        }
        a {
            transition: color 250ms linear;
        }
        &.light {
            color: #fff
        }
    }
}

.coupleTrapeze {
    position: relative;
    height: 630px;
}

/*----------------------------------------------------------------*/
/* HOVER
/*----------------------------------------------------------------*/

@media (min-width: 992px) {
    body:not(.mobile) {
        .servicesDetail li a:hover {
            color: $yellowColor;
        }
    }
}

/*----------------------------------------------------------------*/
/* Media Queries
/*----------------------------------------------------------------*/

@media (max-width: 1500px) {

}

@media (max-width: 1199px) {

}

@media (max-width: 991px) {
    
}

@media (max-width: 767px) {
    
}